.navbar {
    background-color: #D6D9D7;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #780D0D 10%);
}

.navbar .nav-link {
    color:#D6D9D7 !important;
}

.navbar .navbar-brand {
    color: #D6D9D7;
}

body {
    background-color: #D6D9D7;
}

.footer-nav-link {
    color: #1FC18E;
}