{% extends "base.html" %}
{% load static %}

{% block content %}
    <body>
        <h1>{{ game.game_name }}</h1>
        <p>{{ game.description|safe }}</p>
        <p>{{ game.min_players }}
            -
            {{ game.max_players }}
            Players</p>
        <p>Average time:
            {{ game.playing_time }}
            mins</p>
        <img src="{{ game.image }}" alt="game box" class="image-box">
            <a href="{% url 'add_review' %}" type="button" class="btn btn-primary">Add Review</a>
            <h2>Previous Reviews</h2>
            <ul>
                {% for review in reviews %}
                    <a type="button" class="btn btn-secondary" href="{% url 'review' review.id %}">{{ review.title }} : {{ review.rating }} / 5 stars</a>
                {% endfor %}
            </ul>
        </body>
    </html>
{% endblock %}
