{% extends "base.html" %}
{% load static %}


{% block body %}
<h1>Games List</h1>
    <ul>
        {% for game in game_data %}
            <li>
                <h2>{{ game.name }}</h2>
                <p>ID: {{ game.id }}</p>
                <p>Description: {{ game.description }}</p>
                <p>Min Players: {{ game.min_players }}</p>
                <p>Max Players: {{ game.max_players }}</p>
                <p>Playing Time: {{ game.playing_time }}</p>
                {% if game.image %}
                    <img src="{{ game.image }}" alt="{{ game.name }}">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}