{% extends "base.html" %}
{% load static %}
{% if user.is_authenticated}

{% block content %}

<h1 style="text-align: center; margin-top: 5rem;">Your Reviews</h1>
<div class="container mt-4">
    <div class="row" style="align-items: center;">
    {% for review in reviews %}
            <div class="card card-wrapper" style="width: 15rem; position: relative;">
                <img src="{{ review.game.image }}" class="card-img-top" style="max-height: 20rem;" alt="game-box">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.game }} : {{review.title}}</h5>
                        <p class="card-text">{{ review.rating }}<i class="fas fa-star"></i></p>
                        <p class="card-text">{{ review.review_text|safe|linebreaksbr|slice:":100" }}</p>
                        <p class="card-text">{{ review.date_played }}</p>
                        <a href="{% url 'review' review.id %}" class="btn btn-primary">Details</a>
                    </div>
                </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
