{% extends "base.html" %}
{% load static %}


{% block content %}
<h1 style="text-align: center; margin-top: 5rem;">Latest Reviews</h1>
    <div class="container mt-4">
        <div class="row">
            {% for review in reviews %}
                <div class="card card-wrapper" style="width: 18rem;">
                    <img src="{{ review.game.image }}" class="card-img-top" style="max-height: 20rem;" alt="game-box">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.game }} : {{review.title}}</h5>
                            <p class="card-text">{{ review.rating }}<i class="fas fa-star"></i></p>
                            <p class="card-text">{{ review.review_text|safe|linebreaksbr|slice:":100" }}</p>
                            <a href="{{review.id}}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}