{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
    <h1>{{review.title}}</h1>
    <h2>{{review.game}}</h2>
    <h4>{{review.user}}</h4>
    <p>{{review.rating}}<i class="fas fa-star"></i></p>
    <p>{{review.game_duration}} Mins</p>
    <p>{{review.player_count}} Players</p>
    <p>{{review.review_text|safe}}</p>
    <p>{{review.date_played}}</p>
    <img src="{{ game.image }}" alt="game box" style="max-height: 20rem;" class="image-box">

    {% if user.is_authenticated and user.id == review.user.id %}
    <a type="button" class="btn btn-primary" href="{% url 'edit_review' review.id %}">Edit</a>
    {% endif %}
</body>
</html>
{% endblock %}